.navbar {
  height: 100px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  border-bottom: 1px solid #eaeaea;
  position: sticky;
  top: 0;
  z-index: 100;
}


.searchBox {
  flex: 2;
  display: flex;
  max-width: 400px;
  @media (max-width: 768px) {
    max-width: 200px;
  }
}

.searchInput {
  flex: 1;
  padding: 12px 16px;
  border: 1px solid #dcdcdc;
  border-right: none;
  border-radius: 8px 0 0 8px;
  outline: none;
  font-size: 14px;
}

.searchButton {
  width: 56px;
  background: #39cdcc;
  border: none;
  border-radius: 0 8px 8px 0;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.logo {
  font-weight: 700;
  color: #213f7d;
}

.search {
  width: 300px;
  padding: 0.5rem 0.75rem;
  border: 1px solid #ddd;
  border-radius: 6px;

  @media (max-width: 768px) {
    display: none;
  }
}

.right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #39cdcc;
  color: white;
  display: grid;
  place-items: center;
}

.docs {
  color: #545f7d;
  cursor: pointer;
  margin-left: 1rem;
}

.bell {
  color: #545f7d;
  cursor: pointer;
}

.dropdown {
  cursor: pointer;
}

.username  {
  @media (max-width: 768px){
  display: none;
}
}
.dropdown  {
  @media (max-width: 768px){
  display: none;
}
}